<ion-header>
  <ion-toolbar>
      <ion-title>Restablecer su contraseña</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="cerrarModal()">
              <ion-icon color="danger" class="icon-close" slot="icon-only" name="close-circle-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-grid fixed>
  <ion-row class="ion-padding">
      <ion-col size="12">
          <ion-text color="primary" class="text-password-info">
              Le enviaremos un correo electrónico con más instrucciones sobre cómo restablecer su contraseña.
          </ion-text>
      </ion-col>
  </ion-row>
  <ion-row class="ion-padding">
      <ion-col size="12">
          <form (ngSubmit)="onSendCorreoUser()" [formGroup]="olvidePasswordForm">
              <ion-item-group>
                  <ion-item>
                      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
                      <ion-label position="floating">Escriba su correo electrónico</ion-label>
                      <ion-input type="email" placeholder="Correo electrónico" [class.is-invalid]="emailValido" formControlName="email" autocomplete="nope"></ion-input>
                  </ion-item>
                  <ion-item *ngIf="emailValido">
                      <ion-label color="danger">
                          Por favor escriba el correo electrónico con el que se dio de alta.
                      </ion-label>
                  </ion-item>
              </ion-item-group>

              <ion-grid fixed>
                  <ion-row>
                      <ion-col size="6">
                          <ion-button type="submit" expand="block" color="success">Aceptar</ion-button>
                      </ion-col>
                      <ion-col size="6">
                          <ion-button type="button" expand="block" color="medium" (click)="cerrarModal()">Cancelar</ion-button>
                      </ion-col>
                  </ion-row>
              </ion-grid>

          </form>
      </ion-col>
  </ion-row>
</ion-grid>