<ion-header>
  <ion-toolbar>
      <ion-title>Editar la tienda {{laTienda.nombre}} | {{laTienda.identificadorExterno}}</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="cerrarModal()">
              <ion-icon color="danger" class="icon-close" slot="icon-only" name="close-circle-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="tiendaFormeditar" (ngSubmit)="editarTienda()">
      <ion-card>
          <ion-grid fixed>
              <ion-row>
                  <ion-col size="12">
                      <ion-item>
                          <ion-icon name="storefront-outline" slot="start"></ion-icon>
                          <ion-label position="floating" class="ion-text">Nombre</ion-label>
                          <ion-input formControlName="nombre" type="text"></ion-input>

                          <!-- <ion-text *ngIf="nombreNoValido" color="danger" class="placeholderFont">Ingrese el nombre es dato obligatorio </ion-text> -->
                      </ion-item>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size="6">
                      <ion-item>
                          <ion-icon name="key-outline" slot="start"></ion-icon>
                          <ion-label position="floating" class="ion-text">Identificador</ion-label>
                          <ion-input formControlName="identificador" type="text"></ion-input> 

                          <!-- <ion-text *ngIf="identificadorNoValido" color="danger" class="placeholderFont">Ingrese el número de Tienda </ion-text> -->
                      </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                        <ion-icon name="wallet-outline" slot="start"></ion-icon>
                        <ion-label position="floating" class="ion-text">Nombre Corto</ion-label>
                        <ion-input formControlName="nombrecorto" type="text"></ion-input>
                    </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size="12">
                      <ion-item>
                           <ion-icon name="mail-open-outline" slot="start"></ion-icon>
                          <ion-label position="floating" class="ion-text">Correo Electrónico</ion-label>
                          <ion-input formControlName="email" type="text"></ion-input>

                          <!-- <ion-text *ngIf="emailNoValido" color="danger" class="placeholderFont">Ingrese el correo de la tienda </ion-text> -->
                      </ion-item>
                  </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-icon name="location-outline" slot="start"></ion-icon>
                        <ion-label position="floating" class="ion-text">Coordenadas</ion-label>
                        <ion-input formControlName="coordenadas" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
              <ion-row>        
                  <ion-col size="6">
                    <ion-item>
                      <ion-icon name="time-outline" slot="start"></ion-icon>
                      <ion-label position="floating">Apertuta</ion-label>
                      <ion-input  id="hourLandingaper" class="ion-text-center" [value]="hourLandingaper"></ion-input>
                      <ion-popover size="cover">
                        <ng-template>
                          <ion-datetime
                          #popoverDatetime 
                            presentation="time"
                            (ionChange)="hourLandingaper== formatDate(popoverDatetime.value)"
                          ></ion-datetime>
                        </ng-template>
                      </ion-popover>
                    </ion-item>


                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-icon name="time-outline" slot="start"></ion-icon>
                      <ion-label position="floating">Cierre</ion-label>
                      <ion-input  id="hourLandingcierre" class="ion-text-center" [value]="hourLandingcierre"></ion-input>
                      <ion-popover size="cover">
                        <ng-template>
                          <ion-datetime
                          #popoverDatetime1 
                            presentation="time"
                            (ionChange)="hourLandingcierre== formatDate1(popoverDatetime1.value)"
                          ></ion-datetime>
                        </ng-template>
                      </ion-popover>
                    </ion-item>
                  </ion-col>


              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                  <ion-icon name="earth-outline" slot="start"></ion-icon>
                  <ion-label position="floating"> Zona:
                  </ion-label>
                  <ion-select formControlName="zona" interface="popover">
                       <ion-select-option *ngFor="let zonahoraria of this.listadoZonasHorarias" [value]="zonahoraria.zonaHorariaId">
                          {{zonahoraria.nombre}}</ion-select-option>
                  </ion-select>   
                </ion-item>      
                </ion-col>
            </ion-row>
              <!-- <ion-row>
                  <ion-col size="12">
                    <ion-item>
                    <ion-icon name="calendar-outline" slot="start"></ion-icon> 
                    <ion-label> Días de operación:</ion-label>
                    </ion-item>
                  </ion-col>
              </ion-row> -->
              <ion-row>
                <ion-col size="12">
                <!-- <ion-item> -->
       
                  <!-- <ion-label>Todos:</ion-label>
                    <ion-item *ngFor="let dia of this.listaDiasSemana">
                      <ion-list lines="full">
                      <ion-label>{{dia.shortName}}</ion-label>

                       <ion-checkbox color="secondary" value="dia.name" (click)="onChange(dia)" name="dia.id"></ion-checkbox>
                      </ion-list>
                      </ion-item> -->
                 
                      <ion-list>
                        <ion-item>
                          <ion-label><strong>Superheroes - Select All</strong></ion-label>
                          <ion-checkbox slot="start" [(ngModel)]="checkParent" [indeterminate]="indeterminateState"
                            (click)="checkCheckbox()"></ion-checkbox>
                        </ion-item>
                      </ion-list>
                      <ion-list>
                        <ion-item *ngFor="let checkboxes of Checkboxes">
                          <ion-label>{{checkboxes.value}}</ion-label>
                          <ion-checkbox slot="start" [(ngModel)]="checkboxes.isItemChecked" (ionChange)="verifyEvent()">
                          </ion-checkbox>
                        </ion-item>
                      </ion-list>

                <!-- </ion-item> -->
                </ion-col>
            </ion-row>
          </ion-grid>
      </ion-card>
      <ion-footer>
          <ion-grid fixed>
              <ion-row class="ion-text-center">
                  <ion-col size="6">
                      <ion-button shape="round" color="primary" type="submit" expand="block" [disabled]="tiendaFormeditar.invalid">
                          Guardar
                      </ion-button>
                  </ion-col>
                  <ion-col size="6">
                      <ion-button shape="round" color="medium" type="button" expand="block" (click)="cerrarModal()">
                          Cancelar
                      </ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-footer>
  </form>
</ion-content>
