.activo{

   // background-color: green;
    color: green;
}

.inactivo{
    color:red;
}

ion-grid{

    background:white
}


.swiper-button-next, .swiper-button-prev,.swiper-button-next:after, .swiper-button-prev:after{
    display: none!important;
}