<ion-header>
  <ion-toolbar>
      <ion-title>Detalle del Ticket {{ elTicket.folio }}</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="cerrarModal()">
              <ion-icon color="danger" class="icon-close" slot="icon-only" name="close-circle-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>

      <ion-grid>
          <ion-row>
              <ion-col size="2"><ion-label><b>Tipo:</b></ion-label></ion-col>
              <ion-col size="10">{{ elTicket.listaTiposNombre }}</ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="2"><ion-icon size="small" name="person-circle-outline"></ion-icon></ion-col>
              <ion-col size="4">{{ elTicket.nombre }}</ion-col>
              <ion-col size="3"><ion-label><b>Contactar:</b></ion-label></ion-col>
              <ion-col size="3">{{ elTicket.medioContacto.nombre }}</ion-col>

          </ion-row>
          <ion-row>
            <ion-col size="2"><ion-icon size="small" name="mail-outline"></ion-icon></ion-col>
            <ion-col size="4">{{ elTicket.email }}</ion-col>
            <ion-col size="3"><ion-icon size="small" name="call-outline"></ion-icon></ion-col>
            <ion-col size="3">{{ elTicket.telefono }}</ion-col>
        </ion-row>
          <ion-row>
            <ion-col size="2"><ion-icon size="small" name="storefront-outline"></ion-icon></ion-col>
            <ion-col size="4">{{ elTicket.tienda.nombre }}</ion-col>
            <ion-col size="3"><ion-label><b>Estatus:</b></ion-label></ion-col>
            <ion-col size="3">
            <ion-chip outline="true" color="secondary">
              <ion-label color="secondary"> {{ elTicket.estatus.nombre }}</ion-label>
          </ion-chip>
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2"><ion-icon size="small" name="ticket-outline"></ion-icon></ion-col>
          <ion-col size="10">{{ elTicket.numero }}</ion-col>
      </ion-row>
          <ion-row>
              <ion-col size="12" >
                <ion-toolbar>
                  <ion-segment scrollable mode="md" (ionChange)="segmentChange($event)" value="{{ tabActivo }}">
                    <ion-segment-button value="relato">
                      <ion-icon size="large" name="chatbubble-ellipses-outline"></ion-icon>
                      <ion-label>Relato del Cliente</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="seguimiento">
                      <ion-icon size="large" name="search-outline"></ion-icon>
                      <ion-label>Seguimiento</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-toolbar>
                <ion-card class="p-0 m-0" *ngIf="tabActivo === 'relato'">
                  <ion-item text-center>
                    <ion-text class="ion-no-padding">{{this.descripcion}}</ion-text>
                  </ion-item>
                </ion-card>
                <ion-card class="p-0 m-0" *ngIf="tabActivo === 'seguimiento'">
                  <ion-item text-center>
                    <!-- <ion-label class="ion-no-padding">{{elTicket.comentarios}}</ion-label> -->
                    <app-seguimiento-ticket [losTicketLogs]="elTicket.ticketLogs"></app-seguimiento-ticket>
                  </ion-item>
                </ion-card>
              <!-- <ion-content>
                <ion-card class="p-0 m-0">
                  <ion-item text-center>
                    <ion-label>Text centered</ion-label>
                  </ion-item>
                </ion-card>
                <ion-card class="p-0 m-0" *ngIf="tabActivo === 'seguimiento'"></ion-card>
              </ion-content> -->
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-card>
</ion-content>
<ion-footer>

  <ion-row>
    <ion-col size="6">  <ion-button *ngIf="tabActivo === 'seguimiento'" color="success" (click)="cerrarModal()" shape="round" expand="full">
      Intervenir
  </ion-button>
</ion-col>
<ion-col size="6"> 
  <ion-button *ngIf="tabActivo === 'seguimiento'" color="primary" (click)="cerrarCaso(elTicket)"  shape="round" expand="full">
    
    Cerrar Caso
</ion-button></ion-col>
</ion-row>

</ion-footer>
