<ion-content>

  <div class="wrapper">
    <ion-grid >
        <ion-row>
            <ion-col size="12">
                <ion-header class="ion-margin-top">
                    <ion-toolbar color="danger" class="ion-text-center">
                        <ion-title>Panel de Administracion de Quejas y Sugerencias de <br> <br>Canales Sears & Sanborns </ion-title>
                    </ion-toolbar>
                </ion-header>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <form (ngSubmit)="login()" [formGroup]="loginForm">
                    <ion-item-group>
                        <ion-item>
                            <ion-icon slot="start" name="mail-open-outline"></ion-icon>
                            <ion-input type="text" placeholder="NickName" [class.is-invalid]="nickNameValido" formControlName="nickname" autocomplete="nope"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="nickNameValido">
                            <ion-label color="danger">
                                Por favor escriba su nickname.
                            </ion-label>
                        </ion-item>
                   
                        <ion-item>
                            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
                            <app-show-password-hide>
                                <ion-input type="password" placeholder="Password" [class.is-invalid]="passwordValido" formControlName="password" autocomplete="nope"></ion-input>
                            </app-show-password-hide>
                        </ion-item>
                        <ion-item *ngIf="passwordValido">
                            <ion-label color="danger">
                                Por favor escriba su password.
                            </ion-label>
                        </ion-item>
                        
                       
                        


                    
                    </ion-item-group>
                    
                    <div class="captach">   

                        <re-captcha (resolved)="resolvedCaptcha($event)" ></re-captcha>
                    </div>
                    <ion-button class="ion-margin-top" type="submit" expand="block" color="danger">Iniciar</ion-button>
                    <ion-button type="button" expand="block" color="secondary" fill="clear" (click)="onShowOlvidePassword()">Olvide contraseña
                    </ion-button>
                </form>


            </ion-col>
        </ion-row>
    </ion-grid>

</div>

</ion-content>
