<ion-header>
  <ion-toolbar>
      <ion-title>{{ titleWindow }}</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="cerrarModal()">
              <ion-icon color="danger" class="icon-close" slot="icon-only" name="close-circle-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="estatusForm" (ngSubmit)="enviarMotivoEstatus()">
      <ion-card>
          <ion-grid>
              <ion-row>
                  <ion-col size="12">
                      <ion-item>
                          <ion-label position="floating">{{ txtMessage }}</ion-label>
                          <ion-textarea autoGrow="true" rows="5" formControlName="motivo" type="text"></ion-textarea>
                      </ion-item>
                  </ion-col>
              </ion-row>
              <ion-row class="ion-text-right" *ngIf="accion !== 'cerrar'">
                <ion-col size="12" class="ion-text-center ion-justify-content-center ion-align-self-center">
                  <ion-item>
                    <ion-checkbox color="danger" mode="ios" formControlName="ckCerrarCaso"></ion-checkbox>
                    <ion-label>Cerrar el caso</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
          </ion-grid>
      </ion-card>
      <ion-footer>
          <ion-grid fixed>
              <ion-row class="ion-text-center">
                  <ion-col size="6">
                      <ion-button shape="round" color="primary" type="submit" expand="block">
                          Aceptar
                      </ion-button>
                  </ion-col>
                  <ion-col size="6">
                      <ion-button shape="round" color="medium" type="button" expand="block" (click)="cerrarModal()">
                          Cancelar
                      </ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-footer>
  </form>
</ion-content>
