ion-grid {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 98%;
    #grid-heading {
        background-color: rgb(17, 161, 184);
        border: 1px solid rgb(22, 142, 153);
    }
    ion-row {
        border: 0px solid #dddddd;
    }
    ion-row:nth-child(even) {
        background-color: #dddddd;
    }
    ion-col {
        border-right: 0px solid #dddddd;
    }

}

.round {
    border-radius: 30px !important;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-bottom: 0px !important;
    box-shadow: none !important;
}

.fondo-white {
    background-color: #ffffff;
    padding: 10px;
}


ion-breadcrumbs{
    //padding: 40px;  
    padding-top: 50px;
}

ion-modal#modal-bottom::part(content) {
    top: unset !important;
    left: 0 !important;
    bottom: 0;
    width: 100vw;
    border-radius: 0;
    max-width: 300px;
    max-height: 400px;
}

.modal.closed {
    display: none;
}

